.recipe-details {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.recipe-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.add-to-favorites {
    background-color: #2764a0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.add-to-favorites:hover {
    background-color: #234b72;
}

.meal-image {
    max-width: 60%;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.meal-ingredients li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

p {
    line-height: 1.6;
    color: #333;
}

.error-message {
    color: red;
    font-weight: bold;
}

.loading {
    font-size: 24px;
    font-weight: bold;
}

.meal-ingredients {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.meal-instructions {
    width: 100%; 
    padding: 0;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ebebeb;
}

.meal-instructions li{
    padding: 10px;
}
