
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Quicksand:wght@500;600&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 150px;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}
.navbar {
  background-color: white;
  color: white;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;

}

.nav-links {
  display: flex;
  /* background-color: rgb(241 152 63); */
  border-radius: 15px;
  margin-right: 25px;
  
  
}

.nav-link {
text-decoration: none;
color: black;
padding: 1.2em;
transition: background-color 0.3s ease;
border-radius: 15px;
}

.nav-links :hover{
  color: black;
  /* background-color: #F1D14F; */
  background-color: rgb(241 152 63);
  opacity: 0.8;
}

.logo {
  width: 200px;
  margin-left: 50px;

}

/* Login styling */
/* Container styling */
form {
  max-width: 400px;
  border-radius: 25px;
  padding: 25px;
  margin: 25px auto;
  background-color: #e5e9f4;
  font-weight: bold;
}

/* Input styling */
label {
  padding: 10px;
}

input {
  margin-right: 25px;
  width: 50%;
  padding: 13px 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Button styling */
.login-button {
  width: 300px;
  border-radius: 25px;
  padding: 10px;
  font-weight: bold;
  padding: 13px 16px;
  background-color: rgb(241 152 63);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.login-button:hover {
  background-color: #F1D14F;
}

container {
  border-color: rgb(241 152 63);
  outline: none;
}


section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

footer {
  background-color: rgb(241 152 63);
  color: black;
  text-align: center;
  padding: 1em 0;
}

.App.scrolled .navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px;
}



