
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Quicksand:wght@500;600&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding-top: 175px;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}
.navbar {
  background-color: #ffffffe8;
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}


.nav-links {
  display: flex;
  color: black;
  margin-left: 20px; 
  transition: box-shadow ease 0.2s;
}

.log-links {
  display: flex;
  color: black;
  margin-left: auto; 
  margin-right: 50px;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 1.2em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 15px;
  margin: 5px;
}

.nav-link:hover {
  color: black;
  background-color: rgb(241, 152, 63);
  box-shadow: 0 20px 80px -10px rgb(241, 152, 63);
  transform: translate(0, -3px);
}



.log-links :hover{
  color: black;
  background-color: rgb(241, 152, 63);
  box-shadow: 0 20px 80px -10px rgb(241, 152, 63);
  transform: translate(0, -3px);
}

.logo {
  width: 200px;
  margin-left: 50px;
  margin-right: 0px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

footer {
  background-color: rgb(241 152 63);
  color: black;
  text-align: center;
  padding: 1em 0;
}

.App.scrolled .navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}