
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Quicksand:wght@500;600&display=swap');

.App {
  text-align: center;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}
.navbar {
  background-color: #e5e9f4;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.nav-links {
  display: flex;
  background-color: rgb(241 152 63);
  border-radius: 15px;
  margin-right: 10px;
  
}

.nav-link {
text-decoration: none;
color: black;
padding: 1.2em;
transition: background-color 0.3s ease;
border-radius: 15px;
}

.nav-links :hover{
  background-color: #F1D14F;
}

.logo {
  width: 200px;
  margin-left: 10px;
}

/* Login.css */

/* Container styling */
form {
  max-width: 400px;
  border-radius: 25px;
  padding: 25px;
  margin: 25px auto;
  background-color: #e5e9f4;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

/* Input styling */
label {
  padding: 10px;
}

input {
  margin-right: 25px;
  width: 50%;
  padding: 13px 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Button styling */
button {
  width: 75%;
  border-radius: 25px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding: 13px 16px;
  background-color: rgb(241 152 63);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

container {
  border-color: rgb(241 152 63);
  outline: none;
}

button:hover {
  background-color: #F1D14F;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

footer {
  background-color: rgb(241 152 63);
  color: black;
  text-align: center;
  padding: 1em 0;
}



